
body {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	line-height: 1.625;
}

h1 {
	border-bottom: 1px solid #eee;
}

a {
	text-decoration: none;
}

blockquote {
	margin: 16px 16px 16px 0;
	padding: 0 15px;
	border-left: 4px solid #ddd;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header {
	height: 50px;
	padding: 0 1em;
	background-color: rgba(0,0,0,0.06);
	line-height: 50px;
}

.content {
	margin: 0 auto 2em;
}

.home-page {
	width: 85%;
	max-width: 825px;
	margin: 0 auto;
	text-align: center;
}

.banner {
	padding: 0.625em;
}

.deck-page {
	text-align: center;
}

.search-container {
	position: relative;
	margin: 4em 0;
}

.search-input,
.react-autosuggest__input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	// margin-bottom: 0.75em;
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: 0.5em 0.5em;
	font-size: 1em;
	background-color: white;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
	transition: border-color;
}

.search-results,
.react-autosuggest__suggestions-list {
	position: absolute;
	width: 100%;
	margin: 0; padding: 0;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #DDD;
	background-color: white;

	li { list-style-type: none; }
}

.react-autosuggest__suggestion--focused {
	background-color: #DDD;
}

.table-hack {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.table-cell-hack {
	display: table-cell;
	vertical-align: middle;
}

.card-size.table-cell-hack {
	max-width: 298px;
	height: 450px;
}

.worker-image,
.starter-list,
.spec {
	display: inline-block;
	vertical-align: top;
}

.starter-list,
.spec-list {
	box-sizing: border-box;
	padding: 0 16px;
	text-align: left;
}

.worker-image,
.starter-list,
.spec-list {

	.table-hack { width: 330px; }

	@media (max-width: 330px) {
		.table-hack { width: 100%; }
	}

	.card-size {
		margin: 16px;
	}

	@media (max-width: 660px) {
		.card-size {
			margin: 16px;
		}
	}
}

.worker-image .card-size,
.starter-list .card-size {
	height: 330px;

	@media (max-width: 660px) {
		height: auto;
	}
}

.spec-list .card-size {
	height: auto;

	@media (max-width: 990px) {
		height: 450px;
	}
	@media (max-width: 660px) {
		height: auto;
	}
}

.starter-list,
.spec,
.spec-list {
	width: 100%;
	max-width: 330px;
}

.spec {
	@media (max-width: 990px) {
		width: 100%;
		max-width: none;
	}
}

.spec .card-image-container,
.spec-list {
	@media (max-width: 990px) {
		display: inline-block;
		vertical-align: top;
	}
}

.card-title {
	box-sizing: border-box;
	max-width: 990px;
	margin: 0 auto;
	padding: 0 16px;

	@media (max-width: 990px) {
		width: 825px;
	}

	@media (max-width: 825px) {
		width: 100%;
	}
}

.card-image {
	display: inline-block;
	width: 330px;
	height: 450px;
	vertical-align: top;

	@media (max-width: 330px) {
		width: 100%;
		height: auto;
	}
}

.card-image img {
	width: 100%;
}

.card-info {
	display: inline-block;
	box-sizing: border-box;
	width: 660px;
	padding: 16px;
	text-align: left;
	vertical-align: top;

	@media (max-width: 990px) {
		width: 495px;
	}

	@media (max-width: 825px) {
		width: 100%;
		max-width: 660px;
		height: auto;
	}
}

.card-flavor {
	margin-bottom: 16px;
	font-style: italic;
}

.card-rulings {
	box-sizing: border-box;
	max-width: 825px;
	margin: 0 auto;
	padding: 0 16px 16px;

	@media (max-width: 825px) {
		width: 100%;
		max-width: 660px;
		height: auto;
	}
}

.card-ruling {
	margin-bottom: 1em;
}
